/**
 * Dev: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  scroll-behavior: smooth;

  --vp-font-family-mono: 'DM Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  --vp-c-text-1: #000;
  --vp-c--body-text-1: #555;
  --vp-c--title-text-weight: 800;
  --vp-c-text-highlight-weight: 600;
  --vp-code-copy-copied-text-content: '已复制';
}
.dark {
  --vp-c-text-1: #fff;
  --vp-c--body-text-1: #bbb;
  --vp-c-bg: #000;
}
.vp-doc strong {
  font-weight: var(--vp-c-text-highlight-weight, 600);
  color: var(--vp-c-text-1);
}

body {
  color: var(--vp-c--body-text-1);
}

#app {
  width: 100%;
  overflow: hidden;
}

a,
a:hover,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  color: var(--vp-c-text-1);
  font-weight: var(--vp-c--title-text-weight, 600);
}

.is-home {
  position: relative;
}
.is-home::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--vp-c-text-1) 1px, transparent 1px),
    linear-gradient(to bottom, var(--vp-c-text-1) 1px, transparent 1px);
  background-position: right -1px;
  background-size: 30px 30px;
  opacity: 0.03;
}

.app-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.VPLocalNavOutlineDropdown .items {
  border: none;
}
.VPLocalNavOutlineDropdown .outline {
  outline-style: none;
}

pre,
code,
kbd,
samp {
  --vp-font-weight-mono: 400;
  font-weight: var(--vp-font-weight-mono);
}

.VPDoc .main img {
  border-radius: 4px;
}

.vp-doc a {
  &:hover {
    text-decoration: underline !important;
  }
}

.vp-doc strong > em {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.4em;
}

.vp-doc strong {
  position: relative;
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--vp-c-text-1);
  text-decoration-style: dashed;
  text-underline-offset: 0.32em;
}

.VPLink.link.VPNavBarMenuLink {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    opacity: 1;
  }
}
