/**
 * Dev: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  scroll-behavior: smooth;

  --vp-font-family-mono: 'DM Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  --vp-c-text-1: #000;
  --vp-c--body-text-1: #555;
  --vp-c--title-text-weight: 800;
  --vp-c-text-highlight-weight: 600;
}
.dark {
  --vp-c-text-1: #fff;
  --vp-c--body-text-1: #bbb;
  --vp-c-bg: #000;
}
.vp-doc strong {
  font-weight: var(--vp-c-text-highlight-weight, 600);
  color: var(--vp-c-text-1);
}

body {
  color: var(--vp-c--body-text-1);
}

a,
a:hover,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  color: var(--vp-c-text-1);
  font-weight: var(--vp-c--title-text-weight, 600);
}

.is-home {
  position: relative;
}
.is-home::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--vp-c-text-1) 1px, transparent 1px),
    linear-gradient(to bottom, var(--vp-c-text-1) 1px, transparent 1px);
  background-position: right -1px;
  background-size: 23px 23px;
  mask-image: radial-gradient(circle at 100% 0%, white, transparent 65%);
  opacity: 0.05;
}
.is-home::after {
  --cell-size: 2rem;
  --radial-color-purple-low: hsl(270, 100%, 90%);
  --radial-color-red-low: hsl(0, 100%, 90%);
  content: '';
  position: absolute;
  inset: 0;

  background: radial-gradient(var(--radial-color-purple-low), transparent 40%) no-repeat -170vw -55vh / 250vw 250vh,
    radial-gradient(closest-side, var(--radial-color-red-low), transparent) no-repeat calc(100% + var(--cell-size) * 6)
      calc(var(--cell-size) * -7) / calc(var(--cell-size) * 12) calc(var(--cell-size) * 19);
}
.app-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.VPLocalNavOutlineDropdown .items {
  border: none;
}
.VPLocalNavOutlineDropdown .outline {
  outline-style: none;
}

// header.VPNav {
//   position: sticky !important;
//   top: 0;
// }
// .VPLocalNav {
//   position: sticky !important;
//   top: 64px !important;
// }

// .VPContent {
//   background-color: var(--vp-c-bg) !important;
// }
